body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home{
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#overlay{
    position:absolute;
    width:100%;
    background: black;
    height:100vh;
    padding:10px;
    opacity: 0.8;
    top:0;
    left:0;
    z-index:0;
}

#best{
    background:#001d55;
}

nav{
    z-index: 1;
    position: fixed;
    width:100%;
}


html{
    scroll-behavior: smooth;
    overscroll-behavior-y: inherit;
}